.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

.Form__progress {
  display: none;
  gap: 1rem;
  background-image: url(src/assets/images/bg-sidebar-mobile.svg);
  background-repeat: no-repeat;
  width: 100%;
  justify-content: center;
  background-size: cover;
  padding: 2rem 0 6rem 0;
}

.Form__desktop-progress-step {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.Form__desktop-progress {
  background-image: url(src/assets/images/bg-sidebar-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem 4rem 2rem 2rem;
  border-radius: 0.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: 500;
}

.Form__desktop-progress-step-text {
  font-weight: 400;
  font-size: 0.8rem;
  color: var(--light-gray);
}

.Form__desktop {
  display: flex;
  padding: 1rem;
  background: white;
  border-radius: 0.5rem;
  gap: 1rem;
  margin: 1rem;
}

.Form__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Form__progress-step {
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 1rem;
  color: white;
}

.Form-Navigation {
  background: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  display: none;
}

.Form-Navigation__desktop {
  background: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.Form-Navigation__back {
  color: var(--cool-gray);
  height: fit-content;
  cursor: pointer;
}

.Form-Navigation__forward {
  background: var(--marine-blue);
  color: white;
  padding: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.Form-Navigation__confirm {
  background: var(--purplish-blue);
  color: white;
  padding: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

@media only screen and (max-width: 670px) {
  .Form {
    justify-content: space-between;
  }

  .Form__progress {
    display: flex;
  }

  .Form-Navigation {
    display: flex;
  }

  .Form__desktop-progress {
    display: none;
  }

  .Form-Navigation__desktop {
    display: none;
  }

  .Form__desktop {
    transform: translate(0, -4rem);
  }
}
