<form>
  <section>
    <p>1</p>
    <p>2</p>
    <p>3</p>
    <p>4</p>
  </section>
  <section>
    <h1>Personal Info</h1>
    <p>Please provide your name, email address, and phone number.</p>
    <label for="">Name</label>
    <input type="text" name="" id="" placeholder="e.g Stephen King" />
    <label for="">Email Address</label>
    <input type="text" name="" id="" placeholder="e.g stephenking@lorem.com" />
    <label for="">Phone Number</label>
    <input type="text" name="" id="" placeholder="e.g +1 234 567 890" />
  </section>
  <section>
    <h1>Select your Plan</h1>
    <p>You have the option of monthly or yearly billing.</p>
    <button>
      <img src="" alt="" />
      <h1>Arcade</h1>
      <p>$9/mo</p>
    </button>
    <button>
      <img src="" alt="" />
      <h1>Advanced</h1>
      <p>$12/mo</p>
    </button>
    <button>
      <img src="" alt="" />
      <h1>Pro</h1>
      <p>$15/mo</p>
    </button>
    <section>Monthly <button>Toggle</button> Yearly</section>
  </section>
  <section>
    <h1>Pick add-ons</h1>
    <p>Add-ons help enhance your gaming experience.</p>
    <button>
      <img src="" alt="" />
      <h1>Online service</h1>
      <p>Access to multiplayer games</p>
      <p>+$1/mo</p>
    </button>
    <button>
      <img src="" alt="" />
      <h1>Larger storage</h1>
      <p>Extra 1TB of cloud save</p>
      <p>+$2/mo</p>
    </button>
    <button>
      <img src="" alt="" />
      <h1>Customizable profile</h1>
      <p>Custom theme on your profile</p>
      <p>+$2/mo</p>
    </button>
  </section>
  <section>
    <h1>Finishing Up</h1>
    <p>Double-check everything looks OK before confirming.</p>
    <section></section>
    <p>Total (per month)</p>
  </section>
  <section>
    <button>Go Back</button>
    Form Navigation
    <button>Next Step</button>
  </section>
</form>
